[submodule "lr_ws/lr_ws/src/vectornav"]
	path = lr_ws/lr_ws/src/vectornav
	url = https://github.com/dawonn/vectornav.git
[submodule "lr_ws/vectornav"]
	path = lr_ws/vectornav
	url = https://github.com/dawonn/vectornav.git
[submodule "lr_ws/src/vectornav"]
	path = lr_ws/src/vectornav
	url = https://github.com/dawonn/vectornav.git
